:root {
  --background-color: #f7f8fd;
  --bgd-footer-title-subtitle: #141b41;
  --accent: #446df6;
  --color-text: #72727e;
  --text-button: #eeeeee;
  --white-title: #f7f8fd;
  --white-text: #e9ecf5;
}
body {
  background-color: var(--background-color);
  color: var(--color-text);
  font-family: 'Nunito',
    sans-serif;
    font-weight: 350;
      font-size: 18px;
      line-height: 1.4;
}
h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
  margin-top: 0;
}
h1,
h2,
h3 {
  color: var(--bgd-footer-title-subtitle);
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.link{
  text-decoration: none;
}
.header-link{
color: inherit;  
}
.quest-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 1.25;
    }
.quest-text{
  font-size: 24px;
  line-height: 1.40;
} 
.start-title{
  font-weight: 400;
    font-size: 40px;
    line-height: 1.10;
}  
.start-subtitle{
  font-weight: 400;
    font-size: 24px;
    line-height: 1.35;
} 
.start-text{
  font-size: 18px;
    line-height: 1.35;
}
.partner-title{
  font-weight: 400;
    font-size: 32px;
    line-height: 1.25;
}
/* .partner-text{
  
} */
.partner-slogan{
  font-size: 16px;
    line-height: 1.40;
    color: var(--bgd-footer-title-subtitle);
}
.test{
  background-color: var(--accent);
}
.test-title{
  font-weight: 400;
    font-size: 40px;
    line-height: 1.15;
    color: var(--white-title);
}
.test-text{
    color: var(--white-text);
}
.reviews-title{
  font-weight: 400;
    font-size: 40px;
    line-height: 1.40;
}
/* .reviews-text{
 
} */
.reviews-name{
  font-weight: 400;
    font-size: 24px;
    line-height: 1.40;
}
.footer{
  background-color: var(--bgd-footer-title-subtitle);
}
.footer-link{
  color: var(--white-text);
}
/* .reviews-profession{

} */
.button {
font-weight: 400;
  font-size: 16px;
  line-height: 1.40;
}
.btn-primary{
  font-weight: 500;
    font-size: 18px;
    line-height: 1.40;
  background-color:var(--accent);
  color: var(--text-button);
}
.btn-header{
  color:var(--accent);
  background-color: transparent;
}
.btn-footer{
  color:var(--white-title);
  background-color: transparent;
}
